<!-- Sidebar -->
<aside class="col-md-3">
    <div class="search">
        <input type="text" placeholder="Search here...">
    </div>
    <div class="space30"></div>
    <div class="side-widget">
        <a href="/projects/new" class="btn btn-primary btn-lg btn-dark-blue btn-block uppercase">Add Your Project</a>
    </div>
    <div class="space30"></div>
    <div class="side-widget">
        <h5>RECENT</h5>
        <ul class="r-comments">
            <li>Louise Said: <a href="#">Cum sociis natoque penatibus et magnis dis parturient montes.</a></li>
            <li>Gareth Said: <a href="#">Lorem ipsum dolor sit amet, consectetuer!</a></li>
            <li>Stephanie Said: <a href="#">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu...</a></li>
        </ul>
    </div>
    <div class="space50"></div>
</aside>