<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="description" content="Chemistry - Responsive Muti-Purpose Portfolio Template">
    <meta name="author" content="">

    <title>HackerTicker - Beta Apps to Release</title>

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <!-- Google Webfonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,600italic,700italic,800,800italic,300italic,300" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Sanchez:400,400italic" rel="stylesheet">

    <!--[if lt IE 9]>
	<script src="/assets/js/libs/respond.min.js"></script>
    <![endif]-->

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Theme Styles CSS-->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/theme-shop.css" rel="stylesheet">
    <link href="/assets/css/elements.css" rel="stylesheet">
    <link href="/assets/fonts/icomoon/iconmoon.css" rel="stylesheet">
    <link href="/assets/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Plugins CSS -->
    <link href="/assets/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/assets/js/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="/assets/js/flexslider/flexslider.css" rel="stylesheet">
    <link href="/assets/css/isotope.css" rel="stylesheet">
    <link href="/assets/js/slickNav/slicknav.css" rel="stylesheet" >
    <link href="/assets/js/fancybox/jquery.fancybox.css" rel="stylesheet">


    <!--[if lt IE 9]>
	<script src="/assets/js/libs/html5.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body id="pages">

<div class="body">
    <div class="top-wrap">
        <div class="overlay-bg"></div>
        <!-- Header -->
        <header>
            <div class="container">
                <div class="col-md-12">
                    <!-- Logo -->
                    <h1 class="logo"><a href="./index.html"><img width="500" src="/assets/images/logo_main@2x.png" class="img-responsive" alt="img"></a></h1>
                    <!-- Nav Menu -->
                    <div id='cssmenu'>
                        <ul>
                            <li class='active'>
                                <a href='/'><span>Home</span></a>
                            </li>
                            <li class='active'>
                                <a href='http://www.meetup.com/App-a-Month-San-Francisco/' target="_blank"><span>Meetup Group</span></a>
                            </li>
                            <li class='active'>
                                <a href='/contact'><span>Contact Us</span></a>
                            </li>
							{{#if currentUser}}
                            <li class='active'>
                                <a href='/'><span>My Projects</span></a>
                            </li>
							{{/if}}
							{{#if currentUser}}
                                <li class='last'><a href='/logout'><span>Logout</span></a></li>
							{{else}}
                                <li class='last'><a href='/auth/twitter'><span><i class="fa fa-twitter"></i> Login</span></a></li>
							{{/if}}

							{{#if isAdmin}}
                                <li class='last'><a href='/logout'><span>Admin</span></a></li>
							{{/if}}
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header -->
    </div>

    <div class="space30"></div>

	{{{body}}}

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="col-md-4 footer-widget">
                <h6>Meetup Group</h6>
                <p>
					<a href="http://www.meetup.com/App-a-Month-San-Francisco/" target="_blank">App a Month San Francisco</a>
				</p>
            </div>
            <div class="col-md-4 footer-widget">
                <h6>Location</h6>
                <p>San Francisco, CA 94109</p>
            </div>
            <div class="col-md-4 footer-widget">
                <h6>Be Sociable</h6>
                <ul class="social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="footer-copy">
        <div class="container">
            <div class="col-md-12">
                <p>&copy; Copyright 2015 HackerTicker.com</p>
            </div>
        </div>
    </div>
    <!-- Footer -->
</div>

<!-- JavaScript -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/owl-carousel/owl.carousel.js"></script>
<script src="/assets/js/flexslider/jquery.flexslider.js"></script>
<script src="/assets/js/slickNav/jquery.slicknav.min.js"></script>
<script src="/assets/js/jquery.isotope.min.js"></script>
<script src="//maps.google.com/maps/api/js?sensor=false"></script>
<script src="/assets/js/jquery.gmap.js"></script>
<script src="/assets/js/fancybox/jquery.fancybox.pack.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/knockout-3.3.0.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-62985704-1', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>