<!-- Main content -->
<div class="page-wrap container contact-wrap">
    <div class="container">
        <div class="space50"></div>
        <h3>Contact Us</h3>
        <div class="space30"></div>
        <div class="col-md-12 no-padding">
            <p>If you'd like to demo at one of our own events. Please let us know. If there's some thing specificially wrong with
			your project page, please list to us the details.</p>
            <div class="space20"></div>
        </div>
        <div class="col-md-12 no-padding columns">
            <div class="row">
                <div class="col-md-9">
                    <h4>Leave a Message</h4>

                    <div class="space30"></div>
                    <form class="contact-form" id="contactForm" action="/contact" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="senderName" id="senderName" placeholder="Name*"
                                       required="required"/>
                                <input type="email" name="senderEmail" id="senderEmail" placeholder="Email Address*"
                                       required="required"/>
                                <input type="text" name="subject" id="subject" placeholder="Subject*"
                                       required="required"/>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <textarea name="message" id="message" rows="7" placeholder="Message"
                                  required="required"></textarea>
                        <button type="submit" id="sendMessage" name="sendMessage"
                                class="btn btn-primary btn-sm btn-orange uppercase pull-right">Send Message
                        </button>
                        <br>
                    </form>
                    <div id="successMessage" class="successmessage"><p><span class="success-ico"></span> Thanks for
                        sending your message! We'll get back to you shortly.</p></div>
                    <div id="failureMessage" class="errormessage"><p><span class="error-ico"></span> There was a problem
                        sending your message. Please try again.</p></div>
                    <div id="incompleteMessage" class="statusMessage"><p>Please complete all the fields in the form
                        before sending.</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main content -->
