<!-- Main content -->
<div class="page-wrap container">
    <h3>Fantastic Hacks</h3>
    <div class="space30"></div>
    <div class="col-md-12 no-padding columns">
        <div class="row">
            <!-- Blog content -->
            <div class="col-md-9 blogpost">
                <article class="post">
                    <div class="post-thumb">
                        <img src="/assets/images/mock_project@2x.png" class="img-responsive" alt="img">
                    </div>
                    <h3><a href="#">An Amazing Project - DEMO READY</a></h3>
                    <div class="blog-meta"><span><i class="fa fa-user"></i> Max Alexander</span> <span><i class="fa fa-clock-o"></i> 09/12/14</span> <span><i class="fa fa-comments"></i>28</span> <span><i class="fa fa-eye"></i>117</span> <span><i class="fa fa-tags"></i> <a href="#">Business</a>, <a href="#">Photoshop</a>, <a href="#">Web Design</a></span></div>
                    <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
                </article>

                <div class="row page-nav">
                    <div class="col-md-6">
                        <ul>
                            <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <p>Page 1 of 2</p>
                    </div>
                </div>
            </div>

            <!-- Sidebar -->
            <aside class="col-md-3">
                <div class="search">
                    <input type="text" placeholder="Search here...">
                </div>

                <div class="space60"></div>

                <div class="side-widget">
                    <h5>ADD YOUR PROJECT</h5>
                    <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                </div>

                <div class="space50"></div>

                <div class="side-widget">
                    <h5>RECENT</h5>
                    <ul class="r-comments">
                        <li>Louise Said: <a href="#">Cum sociis natoque penatibus et magnis dis parturient montes.</a></li>
                        <li>Gareth Said: <a href="#">Lorem ipsum dolor sit amet, consectetuer!</a></li>
                        <li>Stephanie Said: <a href="#">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu...</a></li>
                    </ul>
                </div>

                <div class="space50"></div>

            </aside>
        </div>
    </div>
</div>
<!-- Main content -->