<!-- Main content -->
<div class="page-wrap container contact-wrap">
    <div class="container">
        <div class="space50"></div>
        <h3>{{projectTitle}}</h3>
        <div class="space30"></div>
        <div class="col-md-12 no-padding columns">
            <div class="row">
                <div class="col-md-9">
                    <h4>Basic Info</h4>
                    <div class="space30"></div>
                    <form class="contact-form" id="contactForm" action="/project" method="post">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" name="senderName" id="senderName" placeholder="Name*"
                                       required="required"/>
								<textarea name="message" id="message" rows="3" placeholder="Details"
                                          required="required"></textarea>
                            </div>
                        </div>
                        <h4>Links Urls</h4>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Website URL</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Google Play Store URL</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">iOS App Store URL</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" id="submitForm" name="submitForm"
                                        class="btn btn-primary btn-lg btn-block btn-dark-blue uppercase pull-right">Submit
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
                <aside class="col-md-3">
                    <div class="side-widget contact-info">
                        <h4>Members</h4>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- Main content -->
